[
 {red_fields, [ {images, [ {soldier, "wittle_soldier.png"},
                           {tank, "wittle_tank.png"},
                           {terrain, "tileset_16x16_final_1.png"} ]},
                {sprites, [ { grass, terrain, [ {112, 16, 16, 16 } ] },
                              {mud, terrain, [ {48, 144, 16, 16}] }
                ]},
                {terrain_sprites, [ { plain, grass }, { mud, mud } ]}
              ]},
 
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

